[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastparquet = "==2024.5.0"
joblib = "==1.4.2"
numpy = "==1.26.4"
pandas = "==2.0.3"
pandas-datareader = "==0.10.0"
pyarrow = "*"
pytz = "*"
pyyaml = "==6.0.1"
requests = "==2.32.3"
scikit-learn = "==1.4.2"
scipy = "==1.13.1"
tqdm = "==4.66.4"
yfinance = "==0.2.40"
python-box = "==6.0.2"
ensure = "==1.0.2"
flask = "*"
flask-cors = "*"
boto3 = "*"
plotly = "*"
wbdata = "*"
pandasdmx = "*"
openpyxl = "*"
google = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
gunicorn = "*"
gcsfs = "*"

[dev-packages]

[requires]
python_version = "3.10"
